.banner {
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 150px 20px; /* Added padding on the sides for better readability */
}

.banner h1 {
    margin-bottom: 20px; /* Spacing below the main heading */
}

.banner h2 {
    font-weight: normal; /* Removed bold font weight for subheadings */
}

.banner .button {
    margin-top: 20px; /* Spacing between subheading and button */
}
